{% extends "base.twig" %}
{% block content %}
    <div class="trello-notifications-list-container p-3">

        <div class="row mb-4">
            <div class="col-8 ">
                <h2>
                    Notifications
                </h2>
                <span class="float-start">{{ today }}</span>
            </div>
        </div>

        {% for notification in notifications %}
            <div class="row g-2">
                {% if notification.type == 'cardDueSoon' %}
                    {% include "trello-integration/notifications/notifications-types/trello-notification-card-due.twig" with { notification, today } %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div id="trello-notification-create-card"></div>
{% endblock %}